HELP.md
java/**/build/
java/**/!gradle/wrapper/gradle-wrapper.jar
java/!**/src/main/**/build/
java/!**/src/test/**/build/

### STS ###
java/**/.apt_generated
java/**/.classpath
java/**/.factorypath
java/**/.project
java/**/.settings
java/**/.springBeans
java/**/.sts4-cache
java/**/bin/
java/**/!**/src/main/**/bin/
java/**/!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
**/nbproject/private/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/

### VS Code ###
.vscode/
**/.history

**/node_modules
